# requirements.in

# Core Data Processing

numpy
pandas
scikit-learn

# Deep Learning / NLP

torch
accelerate
transformers
transformers[torch]

# API

fastapi
uvicorn[standard]
pydantic

# Web UI

streamlit

# Web Scraping

requests
beautifulsoup4
lxml

# Utilities

python-dotenv
tqdm

# Testing

pytest
pytest-cov

# Logging & Monitoring

loguru

# Optional: Jupyter and visualization

jupyterlab
matplotlib
seaborn

validators

# For Decompose URL
python-whois
dnspython
